@import './partials/variables';
@import './partials/mixins';




body{ 
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.container{
    width: 1110px;
    margin: 0 auto;
    @include mode-switch('color', 'textRegular');
}

@each $mode-name, $mode-color in $modes {
    &.theme-#{$mode-name} {
        background-color: map-get(map-get($modes, $mode-name), backgroundColor)
    }
}

main {
    margin-top: -100px;
}
p {
    margin: 0;
}
section {
    padding: 0 0 1.5rem;
}
.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    align-items: center;
    .card{
        @include mode-switch('background-color', 'cardBg');
        @include mode-switch('color', 'textRegular');
        border-radius: 0.5em;
        &:hover {
            @include mode-switch('background-color', 'bgHoverCard');
        }
    }
    .bounce-rate{
        font-size: 0.75rem;
        font-weight: 700;
        &::before {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 5px 4px;
            margin-right: 0.2rem;
        }

        &.positive:before {
            border-color: transparent transparent $limeGreen transparent;
        }

        &.negative:before {
            border-color: transparent transparent $brightRed transparent;
            transform: rotate(180deg);
        }
    }
}
.green{
    color: $limeGreen;
}
.red{
    color: $brightRed;
}