@import './partials/variables';
@import './partials/mixins';



.card-total{
    text-align: center;
    padding: 1.5rem 0;
    position: relative;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 4px;
    }
    &.facebook::before{
        background-color: $facebook;
    }
    &.twitter::before {
        background-color: $twitter;
    }
    &.instagram::before {
        background: $instagramOne;
        background: linear-gradient(90deg, $instagramOne 0%, $instagramTwo 100%);
    }
    &.youtube:before{
        background-color: $youtube;
    }

    .followers{
        font-size: 3.5em;
        @include mode-switch('color', 'textBold');
        font-weight: 700;
        line-height: 1.2;
        margin-top: 1rem;
    }
    .caption{
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .bounce-rate{
        margin-top: 1.5rem;
    }
}