@import './partials/variables';
@import './partials/mixins';

header{
    // background-color: $paleBlue;
    @include mode-switch('background-color', 'topBgPattern');
    padding: 40px 0 156px;
    h1 {
        margin: 0;
        font-weight: 700;
        @include mode-switch('color', 'textBold');
    }
    p {
        margin: 0;
        font-weight: 700;
    }
    .container{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

}

@media (max-width: 768px) {
    header{
        .container{
            grid-template-columns: 1fr;
            row-gap: 1rem;
        }
        h1{
            font-size: 1.5em;
        }
        .title{
            &::after{
                content: '';
                display: inline-block;
                width: 100%;
                height: 1px;
                @include mode-switch('background-color', 'textRegular');
            }
        }
    }
}