@import './partials/variables';
@import './partials/mixins';

.container-switch{
    .text{
        vertical-align: middle;
        margin-right: 15px;
        font-weight: 700;
        text-transform: capitalize;
    }

}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: #ccc;
    background: linear-gradient(90deg, $switchBGOne 10%, $switchBGTwo 100%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: $darkBGPattern;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    background: $white;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}